name: Build Android Bundle

on:
  push:
    branches: [ "main" ]


jobs:

  build:
    runs-on: ubuntu-latest

    steps:    
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # makes the entire history available (needed to obtain latest tag)
      
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: gradle

    - name: Load Android release keystore from GitHub Secrets
      # Ubuntu syntax: base64 -d [input] > [output]
      # MacOS syntax: base64 --decode -i [input] -o [output]
      run: echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 -d > app.keystore

    - name: Build Android Bundle with Gradle
      env:
        ANDROID_KEYSTORE_PASS: ${{ secrets.ANDROID_KEYSTORE_PASS }}
      run: |
        chmod +x gradlew
        ./gradlew composeApp:bundleRelease
        
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: android-release-bundle
        path: composeApp/build/outputs/bundle/release/composeApp-release.aab
        retention-days: 90

    - name: Upload release notes
      uses: actions/upload-artifact@v4
      with:
        name: android-release-notes
        path: releaseNotes
        retention-days: 90

